* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Item Container */
.container {
    min-height: 100vh;
    width: auto;
    /* display: flex;
    justify-content: center; # Dengan Flexbox
    align-items: center; */
}

/* Item */
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute;  
    top: 50%;                   # Dengan Transform Translate
    left: 50%;
    transform: translate(-50%, -50%); */
    height: 150px;
    width: 150px;
    color: rgb(255, 0, 0);
    background-color: rgb(88, 21, 212);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}